/* start variables */
:root{
  --main-color: #10cab7;
  --secondary-color: #2c4755;
  --background-color: #f6f6f6;
  --section-padding: 60px
}
/* end variables */
/* start global rules */
*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body{
  font-family: "Work Sans", sans-serif;
}
.container{
  padding-inline: 15px;
  margin-inline: auto;
}
/* small screens */
@media (min-width: 768px){
  .container{
    width: 750px;
  }
}
/* medium screens */
@media (min-width: 992px){
  .container{
    width: 970px;
  }
}
/* large screens */
@media (min-width: 1200px){
  .container{
    width: 1170px;
  }
}
@media (max-width: 767px) {
  .special-heading{
    font-size: 10px;
  }
  .special-heading-paragraph{
    margin-top: -20px;
  }
}
.special-heading{
  margin: 0;
  font-size: 100px;
  text-align: center;
  font-weight: 800;
  letter-spacing: -3px;
  color: #ebeced;
  text-transform: capitalize;
}
.special-heading-paragraph{
  text-align: center;
  font-size: 20px;
  margin-top: -30px;
  color: #797979;
  text-transform: capitalize;
}
.srv{
  display: flex;
  margin-bottom: 40px;
  text-transform: capitalize;
  i{
    color: var(--main-color);
    flex-basis: 60px;
    margin-top: 15px;
  }
  .text{
    flex: 1;
    h3{
      margin: 0 0 20px;
    }
    p{
      color: #444;
      font-weight: 300;
      line-height: 1.6;
    }
  }
}
@media (max-width: 767px) {
  .special-heading{
    font-size: 60px;
  }
  .special-heading-paragraph{
    margin-top: -20px;
    font-size: 15px;
  }
  .srv{
    flex-direction: column;
    text-align: center;
  }
}
/* end global rules */
/* header start */
  .header{
    padding: 20px;
    .container{
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .logo{
      width: 60px;
    }
    .links{
      position: relative;
      .burger-icon{
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        width: 30px;
        span{
          height: 2px;
          width: 100%;
          margin-bottom: 5px; 
          background-color: #333; 
          border-radius: 10px;
        }
        span:first-child{
          height: 2px;
          width: 100%;
        }
        span:nth-child(2){
          height: 2px;
          width: 70%;
          transition: .3s;
        }
        span:last-child{
          height: 2px;
          width: 100%;
        }
      }
      .bridge{
        width: 100px;
        height: 70px;
        position: absolute;
        right: 0;
      }
      ul{
        list-style: none;
        margin: 0;
        padding: 0;
        background-color: var(--background-color);
        position: absolute;
        right: 0;
        top: calc(100% + 15px);
        min-width: 200px;
        display: none;
        z-index: 1;
        margin-top: -70px;
        li{
          a{
            display: block;
            text-decoration: none;
            padding: 15px;
            color: #333;
            transition: .3s ease-in;
            text-transform: capitalize;
          }
          a:hover{
            transform: translateX(10px);
          }
        }
        li:not(:last-child){
          a{
            border-bottom: solid 1px #ddd;
          }
        }
      }
      ul::before{
        content: '';
        position: absolute;
        border-width: 10px;
        border-style: solid;
        border-color: transparent transparent var(--background-color) transparent;
        top: -20px;
        right: 5px;
      }
    }
    .links:hover{
      .burger-icon{
        span:nth-child(2){
          width: 100%;
        }
      }
      ul {
        display: block;
      }
    }
  }
/* header end */
/* landing start */
.landing{
  background-image: url("/images/landing.jpg");
  height: calc(100vh - 64px);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: grid;
  place-content: center;
  .intro-text{
    text-align: center;
    text-transform: capitalize;
    max-width: 100%;
    padding-inline: 10px;
    h1{
      margin: 0;
      font-size: 50px;
      font-weight: bold;
      color: var(--main-color)
    }
    p{
      width: 320px;
      font-size: 19px;
      line-height: 1.8;
    }
  }
}
/* landing end */
/* features start */
.features{
  padding-block: var(--section-padding);
  background-color: var(--background-color);
  .container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    column-gap: 20px;
    div{
      display: grid;
      place-content: center;
      text-align: center;
      padding: 20px;
      margin-top: 10px;
      .fa-solid{
        color: var(--main-color);
      }
      h2{
        font-weight: 800;
        font-size: 18.72px;
        margin-top: 50px;
      }
      p{
        font-size: 17px;
        line-height: 1.8;
        color: #777;
      }
    }
  }
  
}
/* features end */
/* services start */
.services{
  padding-block: var(--section-padding);
    .services-content{
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
      gap: 30px;
      margin-top: 100px;
      .col{
        .image{
          text-align: center;
          position: relative;
          img{
            width: 260px;
          }
        }
        .image::before{
          content: "";
          position: absolute;
          height: 120%;
          width: 100px;
          right: 0;
          top: -10%;
          background-color: var(--secondary-color);
          z-index: -1;
        }
      }
    }
}
@media (max-width: 1199px) {
  .image-column{
    display: none;
  }
}
/* services end */
/* portfolio start */
.portfolio{
  padding-block: var(--section-padding);
  background-color: var(--background-color);
    .portfolio-content{
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
      gap: 30px;
      margin-top: 80px;
      .card{
        background-color: white;
        img{
          max-width: 100%;
        }
        .info{
          padding: 20px;
          h3{
            margin: 0;
          }
          p{
            margin-bottom: 0;
            color: #777;
            line-height: 1.6;
          }
        }
      }
    }
}
@media (max-width: 767px) {
  .info{
    text-align: center;
  }
}
/* portfolio end */